/* MOBILE EDIT PROFILE SECTION */
.edit__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 24px;
  margin-block-end: 34px;
}

.edit__profile__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.375rem;
  font-weight: bold;
}

.edit__profile__inputs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
  margin-block-start: 32px;
}

.edit__profile__input__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.edit__profile__name {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: bold;
}

.edit__profile__input {
  background-color: var(--dark);
  color: var(--white);
  outline: none;
  border: 1px solid var(--light);
  padding: 22px;
  box-shadow: -2px 2px 4px var(--light);
  border-radius: 20px;
  height: 56px;
}

.profile__edit__logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 32px;
}

.profile__logout__btn {
  background-color: transparent;
  color: red;
  font-size: 1.125rem;
  font-weight: bold;
  width: 142.43px;
  height: 56px;
  border-radius: 15px;
  border: 1px solid red;
  cursor: pointer;
}

.profile__edit__btn {
  background-color: var(--light);
  color: var(--black);
  font-size: 1.125rem;
  font-weight: bold;
  width: 142.43px;
  height: 56px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

/* TABLET EDIT PROFILE SECTION */
@media (min-width: 37.5em) {
  .edit__profile {
    justify-content: flex-start;
  }

  .edit__profile__title {
    justify-content: flex-start;
  }
}

/* DESKTOP EDIT PROFILE SECTION */
@media (min-width: 62.5em) {
}
