/* MOBILE FOOTER PAYMENT*/
.footer__payment {
  background-color: #0b224ea9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: var(--paddingX);
}

.footer__player__id__name {
  display: none;
}

.footer__total__pay-btn {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.footer__total__title {
  color: var(--white);
  font-size: 0.875rem;
}

.footer__total__money {
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.footer__pay-btn {
  background-color: gray;
  color: white;
  opacity: 0.5;
  font-weight: bold;
  border: none;
  height: 46px;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}

.footer__pay-btn.active {
  background-color: var(--light);
  color: var(--black);
  opacity: 1;
}

.inactive {
  pointer-events: none;
}

/* TABLET FOOTER PAYMENT */
@media (min-width: 37.5em) {
  .footer__player__id__name {
    display: block;
  }

  .footer__player__id__name.active {
    display: none;
  }

  .footer__total__pay-btn {
    justify-content: flex-end;
    gap: 30px;
  }

  .footer__player__id__title,
  .footer__palyer__name,
  .footer__player__id {
    font-size: 0.75rem;
    color: var(--white);
    padding-right: 2px;
  }
}

/* TABLET2 FOOTER PAYMENT */
@media (min-width: 48.125em) {
  .footer__pay-btn {
    width: 152px;
  }
}

/* DESKTOP FOOTER PAYMENT */
@media (min-width: 62.5em) {
  .footer__player__id__name {
    flex: 1;
  }

  .footer__total__pay-btn {
    flex: 1;
  }
}
