/* MOBILE HOME PAGE */
.home__bg__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  height: 240px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px var(--light);
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px;
  padding: var(--paddingX);
}

.home__player__id__verfy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-block-start: 31px;
}

.home__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--white);
}

.home__form__control {
  display: flex;
  align-items: center;
}

.home__player__id__input {
  height: 36px;
  width: 191px;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid var(--light);
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--white);
}

::placeholder {
  color: var(--white);
  opacity: 0.5;
  padding: 8px;
}

.home__player__submit__btn {
  height: 36px;
  width: 41px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: var(--light);
  color: var(--black);
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}

.home__payment__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  margin-block-start: 31px;
}

.payment__title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}

.payment__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 18px;
}

.payment__card__info {
  display: flex;
  align-items: center;
  gap: 21px;
  height: 68px;
  background-color: transparent;
  border: 1px solid var(--light);
  border-radius: 15px;
  cursor: pointer;
}

.payment__card__info.selected {
  background-color: var(--light);
}

.selected .payment__card__name {
  color: #000;
}

.payment__card__img {
  width: 79.94px;
  height: 57px;
}

.payment__card__name {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: bold;
}

/* MOBILE PRODUCT SECTION  */
.product__container {
  width: 100%;
  margin-block-start: 31px;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;
}

.product__title {
  color: var(--white);
  font-size: 1.125;
  font-weight: bold;
}

.product__card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--white);
}

.product__card__info {
  color: var(--white);
}

.product_card_hight {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(255, 253, 253, 0.2);
  border-radius: 8px;
  height: 244px;
  width: 100%;
}

.product_card_hight.active {
  background-color: var(--light);
}

.product_card_hight.active .product__card__info {
  color: var(--black);
}

.product_card_hight.active .product__card__info p {
  background-color: var(--blue);
  color: var(--black);
}

.product__amount__uc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__amount__uc span {
  font-size: 1.125rem;
  font-weight: bold;
}

.product__bg__small__img {
  height: 42px;
  width: 71.14px;
}

.product__price__uc {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  width: 70%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLET PRODUCT SECTION */
@media (min-width: 37.5em) {
  .product__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}

/* TABLET HOME PAGE */
@media (min-width: 37.5em) {
  .home__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .home__player__id__input {
    width: 239px;
    height: 42px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .home__player__submit__btn {
    width: 51px;
    height: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .home__player__id__verfy {
    gap: 34px;
    margin-block-start: 51px;
  }

  .payment__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px;
  }

  .payment__card__info {
    gap: 10px;
    height: 80px;
  }

  .payment__card__img {
    width: 100px;
    height: 68px;
  }

  .payment__card__name {
    font-size: 1.5rem;
  }

  .home__payment__container {
    gap: 37px;
    margin-block-start: 51px;
  }

  .product__container {
    margin-block-start: 51px;
  }
}

/* DESKTOP HOME PAGE */
@media (min-width: 62.5em) {
  .payment__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 47px;
  }

  .payment__card__info {
    height: 80px;
    gap: 18px;
  }

  .home__payment__container {
    gap: 37px;
    margin-block-start: 71px;
  }

  .home__player__id__verfy {
    margin-block-start: 71px;
  }

  .product__container {
    margin-block-start: 71px;
  }
}
