/* MOBILE CHECK INFO SECTION */
.check__info {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--light);
  border-radius: 15px;
  height: 117px;
  padding: 21px 20px;
  margin-block-start: 14px;
}

.check__info__banner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.check__info__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check__info__head span:nth-child(1) {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: bold;
}

.check__info__head span:nth-child(2) {
  color: var(--white);
  font-size: 1.125rem;
  cursor: pointer;
}

.check__info__middle {
  display: flex;
  align-items: center;
}

.check__info__middle span:nth-child(1),
.check__info__middle span:nth-child(2) {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.625rem;
}

.check__info__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  background-color: transparent;
  box-shadow: 0px 0px 2px #888888;
  border-radius: 4px;
  padding: 6px 8px;
}

.check__info__refresh {
  display: flex;
  align-items: center;
}

.check__info__footer span:nth-child(1) {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.625rem;
}

.check__info__refresh span:nth-child(1) {
  color: var(--light);
  opacity: 1;
  font-size: 0.625rem;
}

.check__info__refresh span:nth-child(2) {
  color: var(--light);
  margin-top: 4px;
  align-self: flex-end;
}

@media (min-width: 37.5em) {
  .check__info {
    width: 47%;
    margin-block-start: 34px;
  }
}
