/* MOBILE TRANSACTION SECTION*/
.transaction__section {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.transaction__titles h2 {
  display: none;
}

.transaction__e__waller__img {
  display: none;
}

@media (min-width: 64.0625em) {
  .transaction__destop__wrapper {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin: 0 57px;
    margin-block-start: 120px;
  }

  .transaction__titles {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-bottom: 20px;
  }

  .transaction__titles h2 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    width: fit-content;
  }

  .transaction__ds__head {
    display: flex;
    align-items: center;
    gap: 31px;
    /* width: 757px; */
    box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.25);
    border-radius: 15px;
    padding: 0 13px;
  }

  .transaction__oder__user__info {
    display: flex;
    flex-direction: row-reverse;
    gap: 31px;
    height: 360px;
  }

  .transaction__oder {
    /* position: absolute;
    right: 0; */
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.25);
    width: 378px;
  }

  .transaction__e__waller__img {
    display: block;
    width: 310px;
    height: 310px;
    object-fit: contain;
  }
}
