/* MOBILE PRODUCT SECTION */
.product__container {
  width: 100%;
  margin-block-start: 31px;
  padding-bottom: 120px;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;
}

.product__title {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: bold;
}

.product_card_hight {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 1px 5px rgba(255, 253, 253, 0.2);
  border-radius: 8px;
  margin-block-start: 31px;
  height: 244px;
  width: 100%;
  cursor: pointer;
}

.product__card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../assets/images/card-uc-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 210px;
  width: 100%;
  color: var(--white);
}

.product__card__info.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../assets/images/card-uc-active-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 210px;
  width: 100%;
  color: var(--white);
}

.product__card__info {
  color: var(--white);
}

.product_card_hight.active {
  background-color: var(--light);
}

.product_card_hight.active .product__card__info {
  color: var(--black);
}

.product_card_hight.active .product__card__info p {
  background-color: var(--blue);
  color: var(--black);
}

.product__amount__uc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__amount__uc span {
  font-size: 1.125rem;
  font-weight: bold;
}

.product__amount__uc img {
  margin-right: 2px;
  height: 17px;
  width: 17px;
}

.first_img {
  height: 47px;
  width: 101px;
}

.second_img {
  height: 47px;
  width: 101px;
}

.normal_img {
  height: 49px;
  width: 101px;
}

.big_img {
  height: 64px;
  width: 101px;
}

.biggest_img {
  height: 86px;
  width: 101px;
}

.product__price__uc {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  width: 70%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* TABLET PRODUCT SECTION */
@media (min-width: 37.5em) {
  .product__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
  }

  .product__container {
    margin-block-start: 51px;
  }

  .product__card__info,
  .product__card__info.active {
    height: 310px;
    width: 100%;
  }

  .product_card_hight {
    margin-block-start: 31px;
    height: 362px;
  }
  .product__amount__uc span {
    font-size: 1.5rem;
  }
  .product__price__uc{
    font-size: 1.25rem;
  }
  .product__amount__uc img {
    margin-right: 2px;
    height: 24px;
    width: 24px;
  }

  .first_img {
    height: 65px;
    width: 140px;
  }

  .second_img {
    height: 47px;
    width: 101px;
  }

  .normal_img {
    height: 68px;
    width: 140px;
  }

  .big_img {
    height: 89px;
    width: 140px;
  }

  .biggest_img {
    height: 119px;
    width: 140px;
  }
}

/* DESKTOP PRODUCT SECTION */
@media (min-width: 64.0625em) {
  .product__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
  }

  .product__container {
    margin-block-start: 71px;
  }
}