/* MOBILE OPT PAGE */
.opt__section {
  padding: var(--paddingX);
  margin-block-start: 49px;
}

.opt__image {
  display: none;
}

.opt__verification {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 35px 35px;
  background-color: transparent;
}

.opt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.opt__check {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.opt__title__gmail {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.opt__title {
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--light);
}

.opt__sub__title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--white);
}

.opt__gmail {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  opacity: 0.5;
}

.otp__form__control {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.opt__inputs__grid {
  width: 100% !important;
}

.inputStyle {
  margin-left: 4px;
  margin-right: 4px;
  border: 0.5px solid var(--light);
  box-shadow: 0px 0px 4px var(--light);
}

.inputStyleError {
  border: 0.5px solid var(--error-color);
  box-shadow: 0px 0px 8px var(--error-color);
  border-radius: 8px;
}

.opt__inputs input {
  background-color: transparent;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  width: 100% !important;
  height: 58px;
  margin: 0 5px;
}

.opt__create__btn {
  width: 224px;
  height: 45px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--light);
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease;
}

.val-lg1 {
  color: red;
  padding-top: 4px;
  padding-left: 5px;
}

/* TABLET OPT  PAGE */
@media (min-width: 37.5em) {
  .opt__section {
    margin-block-start: 30px;
    margin-block-end: 30px;
  }

  .val-lg1 {
    color: red;
    padding-top: 4px;
    padding-left: 10px;
  }

  .opt__inputs__grid {
    width: 434px !important;
  }

  .opt__inputs input {
    margin: 0 10px;
    font-size: 2.5rem;
    height: 78px;
  }
}

/* DESKTOP OPT  PAGE */
@media (min-width: 62.5em) {
  .opt__section {
    display: flex;
    justify-content: center;
  }

  .opt__verification {
    flex: 1;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .opt__check {
    align-items: flex-start;
  }

  .opt__title__gmail {
    align-items: flex-start;
  }

  .otp__form__control {
    gap: 60px;
  }

  .otp__wrapper {
    display: flex;
    border: 2px solid var(--light);
    border-radius: 15px;
    width: 1026px;
  }

  .opt__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    border-radius: 13px;
    /* width: 474px; */
    padding: 0 20px;
    height: 545px;
  }

  .opt__auth__img {
    width: 434px;
    height: 310px;
    object-fit: contain;
  }

  .opt__container {
    /* background-color: blueviolet; */
    margin-left: 5px;
    height: fit-content;
    width: fit-content;
    align-items: start;
    width: 372px;
    gap: 22px;
  }

  .opt__create__btn {
    width: 126px;
    align-self: flex-end;
    margin-right: 5px;
  }
  .opt__inputs__grid {
    width: 100% !important;
    /* padding: 0 50px; */
  }

  .opt__inputs input {
    margin-left: 0;
  }
  .val-lg1 {
    padding-left: 0;
  }
}
