/* MOBILE SIGN IN PAGE */
.sign__container {
  padding: var(--paddingX);
  margin-block-start: 40px;
}

.login__reg {
  background-color: transparent;
  display: flex;
}

.sign_img {
  display: none;
}

.login__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.login__banner h2 {
  color: var(--light);
  font-size: 1.875rem;
  font-weight: bold;
}

.sign__form__control {
  display: flex;
  flex-direction: column;
  gap: 54px;
  /* padding: 0 24px; */
  width: 100%;
}

.sign__header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign__input__container {
  color: var(--error-color);
  font-size: 0.625rem;
  font-weight: bold;
}

.sign__input__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__sign__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 56px;
  background: transparent;
  border: 1px solid var(--light);
  box-shadow: 0px 0px 8px var(--light);
  border-radius: 10px;
}

.input__sign__wrapper__error {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 56px;
  background: transparent;
  box-shadow: 0px 0px 8px var(--error-color);
  border-radius: 10px;
  border: 1px solid var(--error-color);
}

.input__sign__wrapper input,
.input__sign__wrapper__error input {
  background-color: transparent;
  width: 70%;
  color: var(--white);
  font-size: var(--fs-input);
  border: none;
  outline: none;
}

.sign__icon {
  color: var(--light);
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.sign__icon__eyesplash {
  position: absolute;
  right: 15px;
  color: var(--light);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sign__forgot__btn {
  position: absolute;
  top: 142px;
  align-self: flex-end;
  color: var(--light);
  font-size: 0.75rem;
  font-weight: bold;
}

.sign__forgot__btn__error {
  position: absolute;
  top: 162px;
  color: var(--light);
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: bold;
}

.sign__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sign__lg__btn {
  background: var(--light);
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.sign__make__acc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign__make__acc span {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.75rem;
}

.sign__create__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sign__create__btn a {
  background-color: transparent;
  color: var(--light);
  font-size: 0.75rem;
  font-weight: bold;
}

/* TABLET SIGN IN PAGE */
@media (min-width: 37.5em) {
  .sign__container {
    margin-block-start: 126px;
    padding: 0 167px;
  }

  .sign__form__control {
    padding: 0;
  }

  .login__banner {
    gap: 30px;
  }

  .sign__lg__btn {
    width: 296px;
  }
}

/* DESKTOP SIGN IN PAGE */
@media (min-width: 64.0625em) {
  .sign__container {
    margin-block-start: 30px;
    margin-block-end: 30px;
    padding: var(--paddingX);
    display: flex;
    justify-content: center;
  }

  .login__reg {
    gap: 91px;
    width: 981px;
    height: 545px;
    border: 2px solid var(--light);
    border-radius: 15px;
  }

  .sign__reg__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    /* height: 545px; */
    width: 400px;
    border-radius: 13px;
  }

  .sign_img {
    display: block;
    width: 390px;
    height: 390px;
  }

  .login__banner {
    align-items: flex-start;
    margin-block-start: 116px;
    padding-right: 90px;
  }

  .login__banner h2 {
    font-size: 2.5rem;
  }

  .sign__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .sign__lg__btn {
    width: 121px;
  }

  .sign__make__acc {
    gap: 2px;
  }

  .sign__create__btn {
    align-self: flex-end;
  }
}
