@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "marker_felt";
  src: url("../assets/fonts/marker_felt.ttf");
}
@font-face {
  font-family: "trebuc";
  src: url("../assets/fonts/trebuc.ttf");
}

:root {
  --dark-blue: #003559;
  --light-blue: #006daa;
  --blue: #0353a4;
  --light: #b9d6f2;
  --dark: #061a40;
  --black: #000;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "trebuc";
}

body {
  background-color: var(--dark);
}

a {
  color: var(--white);
  text-decoration: none;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  background: var(--dark);
  height: 80px;
  border-bottom: 1px solid var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-logo {
  color: var(--light);
  opacity: 1;
  font-family: "marker_felt";
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.navbar-logo:hover {
  scale: 1.1;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-links {
  color: var(--white);
  opacity: 0.5;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: all 0.5s ease;
}

.nav-links:hover {
  transform: scale(1.1);

  opacity: 1;
}

#sign__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 50px;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-links-btn {
  background-color: var(--light);
  color: var(--black);
}

.active-btn {
  background-color: var(--light-blue);
  color: var(--white);
}

.activated {
  opacity: 1;
}

.menu-icon {
  color: #fff;
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--dark);
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    display: table;
  }

  .nav-links:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/* MOBILE SIGN IN PAGE */
.sign__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sign_img {
  display: none;
  visibility: hidden;
}

.sign__reg__img {
  width: 350px;
}

.sign__reg__img img {
  width: 100%;
}

.login__reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 127px;
  margin-top: 33px;
  height: 450px;
  width: 343px;
  color: var(--light);
  border-radius: 6px;
  border: 1px solid var(--light);
  box-shadow: 0 0 18px rgba(255, 253, 253, 0.2);
}

.login__reg h2 {
  text-align: center;
}

.sign__reverse {
  display: flex;
  flex-direction: column;
}

.sign__reverse span {
  color: var(--light);
  font-size: 1.125rem;
  font-weight: bold;
}

.sign__reverse input {
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  width: 295px;
  height: 56px;
  outline: none;
  border: 1px solid var(--light);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(255, 253, 253, 0.2);
}

.sign__forgot__btn {
  width: 295px;
  text-align: right;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--light);
  padding-top: 11px;
  cursor: pointer;
}

.sign__lg__btn {
  width: 138px;
  height: 56px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--light);
  margin-left: 70px;
  color: var(--black);
  cursor: pointer;
}

.sign__make__acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sign__make__acc span {
  color: var(--light);
  font-size: 0.75rem;
  font-weight: bold;
}

.sign__make__acc button {
  background-color: transparent;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
}

/* TABLET SIGN IN PAGE */
@media (min-width: 37.5em) {
  .sign_img {
    display: inline;
    visibility: visible;
  }

  .sign__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP SIGN IN PAGE */
@media (min-width: 62.5em) {
  .sign__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE REGISTRATION PAGE */
.registeration__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.registeration__reg__img {
  width: 350px;
}

.registeration__reg__img img {
  width: 100%;
}

.registeration__reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 127px;
  margin-top: 33px;
  height: 500px;
  width: 343px;
  color: var(--light);
  border-radius: 6px;
  border: 1px solid var(--light);
  box-shadow: 0 0 18px rgba(255, 253, 253, 0.2);
}

.registeration__reg h2 {
  text-align: center;
}

.registeration__reverse {
  display: flex;
  flex-direction: column;
}

.registeration__reverse span {
  color: var(--light);
  font-size: 1.125rem;
  font-weight: bold;
}

.registeration__reverse input {
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  width: 295px;
  height: 56px;
  outline: none;
  border: 1px solid var(--light);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 253, 253, 0.2);
}

.registeration__btn {
  width: 138px;
  height: 56px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--light);
  margin-left: 70px;
  color: var(--black);
  cursor: pointer;
}

/* TABLET REGISTRATION IN PAGE */
@media (min-width: 37.5em) {
  .registeration__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP REGISTRATION IN PAGE */
@media (min-width: 62.5em) {
  .registeration__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
