@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "marker_felt";
  src: url("../assets/fonts/marker_felt.ttf");
}
@font-face {
  font-family: "trebuc";
  src: url("../assets/fonts/trebuc.ttf");
}

:root {
  --dark-blue: #003559;
  --light-blue: #006daa;
  --blue: #0353a4;
  --light: #b9d6f2;
  --dark: #061a40;
  --black: #000;
  --white: #fff;
  --paddingX: 0 22px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "trebuc";
}

body {
  background-color: var(--dark);
}

a {
  color: var(--white);
  text-decoration: none;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.home__bg__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  height: 240px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px var(--light);
}

.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px;
  padding: var(--paddingX);
}

/* MOBILE PROFILE SECTION */
.make__change {
  display: none;
}

.user {
  padding: var(--paddingX);
}

/* TABLET PROFILE SECTION */
@media (min-width: 37.5em) {
  .profile__section {
    max-width: 567px !important;
    margin: 0 auto;
    margin-block-start: 70px;
  }

  .make__change {
    display: none;
  }
}

/* DESKTOP PROFILE SECTION */
@media (min-width: 62.5em) {
  .profile__section {
    display: flex;
    flex-direction: column;
    max-width: 1189px !important;
    margin: 0 auto;
    padding: var(--paddingX);
    margin-block-end: 40px;
  }

  .desktop__profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 67px;
    position: relative;
    margin-block-start: 28px;
  }

  .line {
    position: absolute;
    right: 50%;
    top: 25px;
    background-color: var(--light);
    width: 1px;
    height: 500px;
  }

  .make__change {
    display: block;
  }

  .user {
    pointer-events: none;
  }
}

.edit__profile__section {
  max-width: 554px;
  margin: 0 auto;
  padding: var(--paddingX);
  margin-block-start: 45px;
}

.transaction__section {
  display: flex;
  flex-direction: column;
}
