/* MOBILE REGISTRATION PAGE */
.registeration__container {
  padding: var(--paddingX);
  margin-block-start: 20px;
}

.reg_img {
  display: none;
}

.registeration__reg {
  display: flex;
  background: transparent;
}

.registration__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.registeration__reg h2 {
  color: var(--light);
  font-size: 1.875rem;
  font-weight: bold;
}

.registeration__form__control {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 24px;
  width: 100%;
}

.registration__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.regisration__input__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 56px;
  background: transparent;
  border: 1px solid var(--light);
  box-shadow: 0px 0px 8px var(--light);
  border-radius: 10px;
}

.input__wrapper__error {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 56px;
  background: transparent;
  box-shadow: 0px 0px 8px var(--error-color);
  border-radius: 10px;
  border: 1px solid var(--error-color);
}

.input__wrapper input,
.input__wrapper__error input {
  background-color: transparent;
  color: var(--white);
  font-size: 0.875rem;
  border: none;
  outline: none;
}

.icon {
  color: var(--light);
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.regisration__input__container p {
  color: var(--error-color);
  font-size: 0.625rem;
  font-weight: bold;
}

.registration__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.registeration__btn {
  background: var(--light);
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 196px;
  height: 45px;
  cursor: pointer;
}

.registration__sub__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__alredy__acc {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.75rem;
}

.registration__login__btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  margin-block-end: 40px;
}

.registration__login__btn a {
  color: var(--light);
  font-size: 0.75rem;
  font-weight: bold;
}

/* TABLET REGISTRATION IN PAGE */
@media (min-width: 37.5em) {
}

/* DESKTOP REGISTRATION IN PAGE */
@media (min-width: 62.5em) {
}
