/* MOBILE REGISTRATION PAGE */
.registeration__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding: var(--paddingX);
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.reg_img {
  display: none;
}

.registeration__reg__img img {
  width: 100%;
}

.registeration__reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 22px;
  padding-top: 27px;
  padding-bottom: 41px;
  margin-top: 33px;
  color: var(--light);
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--light);
  box-shadow: -4px 4px 18px rgba(255, 253, 253, 0.2);
}

.registeration__reverse {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.registeration__reverse span {
  color: var(--light);
  font-size: 1.125rem;
  font-weight: bold;
  padding: 4px 0;
}

.registeration__reverse input {
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  height: 56px;
  outline: none;
  border: 1px solid var(--light);
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 253, 253, 0.2);
}

.registeration__btn {
  padding: 0 30px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--light);
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease;
}
.registeration__btn:hover {
  scale: 1.1;
}

.registeration__form__control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registration__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 41px;
  width: 100%;
}

.registration__alredy__acc {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.75rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.registration__login__btn {
  background-color: transparent;
  color: var(--white);
  opacity: 1;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.registration__login__btn:hover {
  scale: 1.1;
}

.registration__sub__footer {
  display: flex;
  flex-direction: column;
}

.val-reg {
  color: red;
  padding: var(--paddingX);
}

/* TABLET REGISTRATION IN PAGE */
@media (min-width: 37.5em) {
  .registeration__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 100px;
  }
  .reg_img {
    display: none;
    width: 100%;
  }

  .registeration__reverse input {
    width: 90%;
    margin: 0 auto;
  }

  .registeration__reverse span {
    width: 90%;
    margin: 0 auto;
  }
}

/* DESKTOP REGISTRATION IN PAGE */
@media (min-width: 62.5em) {
  .registeration__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    padding: var(--paddingX);
  }

  .reg_img {
    display: block;
    width: 100%;
  }
}
