/* MOBILE PLAYER ID SECTION */
.home__player__id__verfy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-block-start: 31px;
}

.hide__verify {
  display: none;
}

.home__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--white);
}

.home__form__control {
  display: flex;
  align-items: center;
}

.home__player__id__input {
  height: 40px;
  width: 100%;
  padding-left: var(--input-padding);
  text-align: left;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--light);
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--white);
}

.home__player__id__input__error {
  width: 100%;
  height: 40px;
  padding-left: var(--input-padding);
  text-align: left;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--white);
  box-shadow: 0px 0px 8px var(--error-color);
  border: 1px solid var(--error-color);
}

::placeholder {
  color: var(--white);
  opacity: 0.5;
  text-align: left;
}

.home__player__submit__btn {
  height: 40px;
  width: 41px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: var(--light);
  color: var(--black);
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}

.home__player__id__verfy p {
  padding: 4px 0;
  color: var(--error-color);
  font-size: 0.625rem;
  font-weight: bold;
  margin-top: 3px;
}

/* TABLET PLAYER  ID SECTION*/
@media (min-width: 37.5em) {
  .home__title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .home__player__id__input,
  .home__player__id__input__error {
    width: 50%;
    height: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .home__player__submit__btn {
    width: 51px;
    height: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .home__player__id__verfy {
    gap: 34px;
    margin-block-start: 51px;
  }
}

/* DESKTOP PLAYER  ID SECTION*/
@media (min-width: 64.0625em) {
  .home__player__id__verfy {
    margin-block-start: 71px;
  }

  .home__player__id__input,
  .home__player__id__input__error {
    width: 43%;
  }
}
